version: '3.8'

services:
  web:
    build: ./
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/brain_tumor_db
    volumes:
      - ./:/app
      - /app/__pycache__
    entrypoint: ["./entrypoint.sh"]
    restart: unless-stopped

  worker:
    build: ./
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/brain_tumor_db
    volumes:
      - ./:/app
      - /app/__pycache__
    entrypoint: ["./cron.sh"]
    restart: unless-stopped

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=brain_tumor_db
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  postgres_data: